@import "styles/utils";

.youtube-card-list {
    /*  변수  */
    $youtube-card-list__background: $color-surface;
    $youtube-card-list__min-width: rem(360px);
    $youtube-card-list__border-radius: rem(4px);

    /*  속성  */
    position: relative;

    background: $youtube-card-list__background;
    min-width: $youtube-card-list__min-width;
    padding: $youtube-card__padding;

    flex-grow: 1;

    border-radius: $youtube-card-list__border-radius;

    ul li {
        padding: rem(12px) 0;
    }
}
