@import "styles/utils";

.youtube-card {
    box-shadow: 0 rem(6px) rem(8px) rem(4px) #{$color-black}70;

    .contents {
        padding: $youtube-card__padding;

        h5 {
            font-size: 1 + $em;
        }
    }
}
