@import "styles/utils";

.flat-button {
    @include init-button;

    background: $color-primary;
    color: $color-font-primary;

    width: 100%;
    height: $font-size-lg * 2.5;
    border-radius: rem(8px);

    font-size: $font-size-md;
    font-weight: $font-weight-bold;

    &:disabled {
        background: $color-light-gray;
    }
}
