@import "styles/utils";

.foldable-arrow-button {
    $foldable_arrow_button__color: $color-font-background;
    $foldable_arrow_button__border-width: $border-width-1;

    @include flex(flex-start, center);

    background: none;
    border: none;
    outline: none;

    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;

    transition: 1s;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: $foldable_arrow_button__border-width;
        background: $foldable_arrow_button__color;
        position: absolute;
        top: 50%;
        left: 0px;
        transition: 0.5s;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: $foldable_arrow_button__border-width;
        background: $foldable_arrow_button__color;
        position: absolute;
        bottom: 50%;
        left: 0px;
        transition: 0.5s;
    }

    &:hover span {
        opacity: 0;
    }

    span {
        font: $font-size-xs "arial";
        color: $foldable_arrow_button__color;
        opacity: 1;
        transition: 0.5s;
    }

    &.left {
        transform: translate(calc(-20vw - 50%), -50%);

        span {
            transform: translateX(30%);
        }

        &::before {
            transform-origin: left center;
            transform: rotate(-180deg);
        }

        &::after {
            transform-origin: left center;
            transform: rotate(180deg);
        }

        &:hover {
            &::before {
                transform: rotate(-30deg);
            }

            &::after {
                transform: rotate(30deg);
            }

            span {
                transform: translateX(160%);
            }
        }
    }

    // Right Arrow
    &.right {
        transform: translate(calc(20vw - 50%), -50%);

        span {
            transform: translateX(-30%);
        }

        &::before {
            transform-origin: right center;
            transform: rotate(180deg);
        }

        &::after {
            transform-origin: right center;
            transform: rotate(-180deg);
        }

        &:hover {
            &::before {
                transform: rotate(30deg);
            }

            &::after {
                transform: rotate(-30deg);
            }

            span {
                transform: translateX(-160%);
            }
        }
    }
}
