@import "styles/utils";

.basic-card-template {
    /*    변수    */
    $basic-card-template__background: $color-surface;

    $basic-card-template__size-unit: rem($breakpoint-mobile);

    $basic-card-template__font-multiplier: 5;

    // 기본 폰트 사이즈 - 최소 화면 너비(32rem)에서 폰트 배수(0.5vw)
    $basic-card-template__min-font-size: $font-size-normal;
    $basic-card-template__max-font-size: $font-size-large;

    $basic-card-template__box-shadow: $box-shadow-card;

    /*    속성    */
    // 색상
    background: $basic-card-template__background;

    // 사이즈
    width: $basic-card-template__size-unit;
    height: $basic-card-template__size-unit / $card-default-ratio;
    // 테두리
    border-radius: $card-default-border-radius;

    // 박스 옵션
    overflow: hidden;
    box-shadow: $basic-card-template__box-shadow;

    // 폰트
    font-size: $font-size-normal;
}
