@import "styles/utils";

.card-detail-page-template {
    @include flex-column();

    min-height: 100vh;

    & > header {
        padding: rem(32px) 0;
    }

    & > main {
        @include flex(center, center);
        position: relative;
        height: 100%;
    }
}
