@import "styles/utils";

.navbar {
    @include flex();

    $navbar__font-color: $color-font-background;
    $navbar__height: rem(56px);
    $navbar__padding-v: 0;
    $navbar__padding-h: 0;

    $navbar__menu_item__padding-x: $spacing-5;
    $navbar__menu_item__padding-y: $spacing-2;

    &,
    a,
    button {
        color: $navbar__font-color;
    }

    height: $navbar__height;
    padding: $navbar__padding-v $navbar__padding-h;

    & .menu {
        @include flex();
        margin-left: auto;

        & li {
            @include flex(center, center);
            padding: $navbar__menu_item__padding-y $navbar__menu_item__padding-x;

            button {
                @include init-button();
                color: inherit;
                font-size: inherit;
            }
        }
    }
}
