@import "styles/utils";

.memo-card {
    /*   변수   */
    $memo-card__contents-background: $color-surface;
    $memo-card__padding-x: rem(32px);
    $memo-card__padding-y: rem(32px);

    /*  스타일`*/
    padding-top: $unit * 6;

    .contents {
        @include flex-column();

        background: $memo-card__contents-background;
        height: 100%;
        border-radius: $card-default-border-radius;

        padding: $memo-card__padding-x $memo-card__padding-y;

        .date {
            color: $color-font-gray;
            font-size: $font-size-small;
            padding-top: $unit * 4;
        }

        .text {
            flex: 1;
            padding-top: $unit * 7;
            overflow: hidden;

            p {
                height: 100%;
                line-height: 1.4;
                overflow-y: scroll;
                @include hide-scrollbar;
            }
        }
    }
}
