@import "styles/utils";

.bouncing-arrow {
    $bouncing-arrow__font-color: $color-font-background;
    $bouncing-arrow__font-size: rem(40px);

    color: $bouncing-arrow__font-color;
    font-size: $bouncing-arrow__font-size;

    animation: 0.7s bouncing infinite alternate;

    @include keyframes(bouncing) {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(60%);
        }
    }
}
