@import "styles/utils";

.main-page-template {
    /*      Tokens        */
    $main-page-template__background: #{$color-black}25;

    $main-page-template__margin-y: rem(56px);
    $main-page-template__margin-x: auto;

    $main-page-template__border-width: rem(4px);
    $main-page-template__border-color: #{$color-font-background}99;
    $main-page-template__border-radius: rem(32px);

    $main-page-template__main__padding: $main-padding-y $main-padding-x
        rem(72px) $main-padding-x;

    /*      Styles        */
    @include flex-column;

    // Color
    background: $main-page-template__background;

    // Box-model
    flex-grow: 1;
    width: 100%;
    height: 100%;
    max-width: $max-width;
    min-height: rem(560px);

    margin: $main-page-template__margin-y $main-page-template__margin-x;

    // Border
    border: $main-page-template__border-width solid
        $main-page-template__border-color;
    border-radius: $main-page-template__border-radius;

    overflow: hidden;

    main {
        @include flex-column;
        flex-grow: 1;
        height: 100%;
        padding: $main-page-template__main__padding;
    }

    .floating-button {
        position: fixed;
        bottom: rem(64px);
        right: rem(64px);
    }
}
