@import "styles/utils";

.main-page-template {
    /*      Tokens        */
    $main-page-template__background: #{$color-black}25;

    $main-page-template__margin-y: rem(56px);
    $main-page-template__margin-x: auto;

    $main-page-template__border-width: rem(4px);
    $main-page-template__border-color: #{$color-font-background}99;
    $main-page-template__border-radius: rem(32px);

    /*      Styles        */
    // Color
    background: $main-page-template__background;

    // Box-model
    max-width: $max-width;
    min-height: 56rem;

    margin: $main-page-template__margin-y $main-page-template__margin-x;

    // Border
    border: $main-page-template__border-width solid
        $main-page-template__border-color;
    border-radius: $main-page-template__border-radius;

    overflow: hidden;

    main {
        padding: $main-padding-y $main-padding-x;
    }

    .floating-button {
        position: fixed;
        bottom: rem(64px);
        right: rem(64px);
    }
}
