@import "styles/utils";

.todo-card {
    $todo-card__padding-x: $spacing-6;
    $todo-card__padding-y: $spacing-5;

    $todo-filter__padding-y: $spacing-2;

    $todo-card__add-button__size: rem(18px);

    & > header,
    .todo-list {
        padding: $todo-card__padding-y $todo-card__padding-x;
    }

    & > header {
        @include flex-column();
        height: rem(120px);
        padding-bottom: 0;
        border-bottom: 1px solid $color-light-gray;

        .todo-title {
            height: rem(28px);
        }

        .todo-filter {
            @include flex(flex-end);
            height: rem(40px);
            padding: $todo-filter__padding-y 0;

            & > button + button {
                margin-left: $spacing-2;
            }

            button {
                @include transition(all, 0.15s);
                padding: 0 $spacing-2;
                border: $border-width-1 solid gray;
                border-radius: $spacing-4;

                &.active {
                    background: $color-primary;
                    border-color: $color-primary;
                    color: $color-font-primary;
                }
            }
        }

        .todo-editor {
            @include flex();
            height: rem(32px);
            padding-bottom: rem(12px);

            input {
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
            }

            button {
                @include flex(center, center);
                @include transition(color, 0.12s);
                width: $todo-card__add-button__size;
                height: $todo-card__add-button__size;
                &:hover {
                    color: $color-success;
                }
            }
        }
    }
}
