@import "styles/utils";

.card-list-item {
    $card-item__height: rem(44px);
    $card-item__padding-x: $spacing-6;
    $card-item__padding-y: $spacing-4;

    $card-item__flag__width: $unit;

    @include flex(flex-start);
    @include transition(background, 0.25s);
    cursor: pointer;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        background: rgba($color-highlight, 0.1);
    }

    .flag {
        background: $color-highlight;
        width: $card-item__flag__width;
    }

    & .icon {
        @include flex(center, center);

        width: $card-item__height;
        height: $card-item__height;

        font-size: $font-size-xl;

        .memo {
            color: $color-yellow;
        }

        .todo {
            color: $color-success;
        }

        .video-link {
            color: $color-youtube;
        }

        .etc {
            color: $color-highlight;
        }
    }

    & .text {
        @include flex(flex-start, center);
        flex: 1;
    }
}
