@import "styles/utils";

.deck-viewer {
    $deck-viewer__pane-gap: rem(80px);
    $deck-viewer__arrow-button__gap: $spacing-6;

    @include flex();
    flex-grow: 1;

    .card-pane {
        @include flex(flex-end, center);
        flex: 1;

        & > * + * {
            margin-left: $deck-viewer__arrow-button__gap;
        }
    }

    .card-list-pane {
        @include flex(flex-start);
        flex: 1;
    }

    & > div + div {
        margin-left: $deck-viewer__pane-gap;
    }
}
