@import "styles/utils";

.youtube-info-card {
    $video-info__padding-y: $spacing-4;
    $video-info__title__margin-bottom: $spacing-2;
    $channel-info__padding-y: $spacing-2;

    border-top: $border-width-1 solid $color-light-gray;

    .sub-info {
        @include flex();

        color: $color-font-gray;
        font-size: $font-size-xs;
    }

    .video-info {
        @include flex-column();
        padding: $video-info__padding-y 0;

        .video-title {
            @include ellipsis;
            margin-bottom: $video-info__title__margin-bottom;
            font-weight: $font-weight-bold;
        }

        & .published-at::before {
            content: "·";
            margin: rem(4px);
        }
    }

    .channel-info {
        @include flex(flex-start, stretch);
        padding: $channel-info__padding-y 0;

        & .channel-thumbnail {
            width: rem(40px);
            border-radius: 50%;
        }

        & .channel-label {
            @include flex-column();
            margin-left: rem(12px);
            padding: rem(2px) 0;

            & .channel-title {
                flex-grow: 1;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
            }
        }
    }
}
