@import "styles/utils";

.deck-card {
    $deck-card__width: $deck-card__width;
    $deck-card__width-ratio: $card-default-ratio;

    $deck-card__info-panel__background: rgba($color-surface, 0.9);
    $deck-card__info-panel__padding: 0 $spacing-2 $spacing-2 $spacing-2;

    @include flex(center, flex-end);
    @include ellipsis();

    background-image: url("/assets/images/deck-cover.jpg");
    background-size: contain;

    width: $deck-card__width;
    aspect-ratio: $deck-card__width-ratio;

    border-radius: $card-default-border-radius;

    overflow: hidden;

    .info-panel {
        background: $deck-card__info-panel__background;
        width: 100%;
        height: 30%;

        padding: $deck-card__info-panel__padding;
    }
}
